<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🚘CarShop🚗 - Contacto</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contacto</h1>
        <p>Formulario de contacto y detalles.</p>
    </main>
    <footer>
        <p>Contacto: info@carshop.com | Tel: 123-456-7890</p>
    </footer>
</body>
</html>
